html{
    scroll-behavior: smooth;
}
body {
    background-color: #A0522D
    
}

 .menu{
    background-color: #DEB887;
 }
 
 .letras_menu{ 
    background-color: #DEB887;

    }
 .itens_menu{
      text-align: center;
      line-height: 1.5;
     text-decoration:none;
 }

 .itens_menu a:link, .itens_menu a:visited{
     color: peru;
     text-decoration:none;
 }
 .itens_menu a:hover{
     color: antiquewhite;
 }
 .itens_menu a:active{
     color: grey;
 }
 .links{
 line-height: 1.5;
 text-decoration:none;
}
 .links a:link, .links a:visited{
 color: peru;
 text-decoration:none;
}

 .img_topo{
     width: 80%;
     text-align: center;  
     border-style: solid;
     padding-left: 9%;
     padding-top: 2%;
     padding-bottom: 2%;
}
  .img_corpo{
      width: 65%;
      text-align: center;
      border-style: solid;
      padding-left: 18%;
      padding-top: 2%;
      padding-bottom: 2%; 

  }
  .left{
     float: left;
     line-height: 2%;
     padding-left: 1%;
     padding-right: 2%;
     padding-top: 1%;


  }


  .container{
      width: 80%;
      margin: auto;


  }
  h1{
     text-align: center;
     font-size: 4ex;
     padding-top: 2%;
     padding-bottom: 2%;
     font-family: 'Anonymous Pro', monospace;


  }
  p{
   font-size: 1.5em;
   text-align: justify;
   text-indent: 40px;
   color: #fff;
   text-align: center;
   line-height: 1.5;
   text-align: justify;
   font-family: 'Anonymous Pro', monospace;

  }
  .p2{
    padding-left: 3%;
    font-family: 'Anonymous Pro', monospace;
  }

  .botao {
    width: 150px;
    height: 50px;
    background-color: antiquewhite;  
 
  } 
  .botao p{
      padding-top: 5px;  
      padding-right: 45px;
      color: black; 
      
  }

  .botao a:hover{
    background-color: blueviolet;
    }

  .pletras > p{
   font-size: 1em;
   
  }
  footer{
      background-color: #DEB887;
      padding-top: 2%;
      padding-bottom: 2%;
    
  }
  .rodp2{
     padding-left: 35%;

  }


  .footerp{
      color: black;
  }

 /*tabela*/
  table,tr,th{
    padding: 0.5em 0.5em;
    border: solid 3px antiquewhite;
    border-style: dashed;
 }
 
  th,td{
    padding: 0.5em 0.5em;
    border: solid 2px ;
    text-align: center;
    color: white;
    width: 30em;
    font-family: arial;
    font-size: 1.3em;
    border-style: dashed ;
  }

  

  tr:hover {background-color: coral;}

  audio{
    width: 60%;
  }

  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-penel {
    background-color: #DEB887;

  }

  form{
    box-sizing: border-box;
  }

  input[type=text], select, input[type=tel], input[type=emeil], input[type=date], textarea{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    font-family: 'Anonymous Pro', monospace;
    border-radius: 25px 25px;

  }
  
  label{
    width: 50%;
    display: inline-block;
  }
  input[type=radio]{
    display: block;

  }
  form{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 20px;
    border-radius: 25px 25px;
  }
  .col-25{
    width: 75%;
    float: left;
  }
  .col-75{
    width: 75%;
    float: left;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=submit] {
    width: 20%;
    background-color: #A0522D;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border:  none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    

  }




 
 
 
