body {
    background-color: #A0522D
    
}

 .img_topo{
    width: 100%;
    text-align: center;
    border: 6px  dashed #363636 ;
    border-style: solid;
}
  .img_corpo{
      width: 50%;
      text-align: center;
      border: 6px  dashed #363636 ;
      border-style: solid; 

  }


  .container{
      width: 80%;
      margin: auto;


  }
  h1{
     text-align: center;

  }
  p{
   font-size: 1.5em;
   text-align: justify;
   text-indent: 40px;
   color: #fff;
   text-align: center;

  }
